<%- include("../_includes/head") %>

<div class="container-fluid">
  <div class="row">
    <div class="left-login col-lg-6 col-xl-6"> <img src="/images/illustration.png" alt="" class="img-fluid illustration"> <span class="copyright-l">Copyright <script> var d = new Date(); var dy = d.getFullYear(); document.write(dy);</script> Social Media Analysis</span> </div>
    <div class="login-right col-lg-6 col-xl-6">
      <div class="access-form">
        <figure class="text-center"><img src="/images/login-logo.png" alt="">
          <figcaption>Buzzabl</figcaption>
        </figure>
        <form action="/auth/login" method="POST" class="form" novalidate>
        <%- include('../_partials/errors') %>
          <div class="form-group">
            <input type="email" class="form-control envelop" id="email" name="email" value="<%= form.email %>" placeholder="Email" autocomplete="off">
          </div>
          <div class="form-group">
            <input type="password" class="form-control key" id="pwd" placeholder="Password" name="password"  autocomplete="off">
          </div>
          <div class="form-group">
             <a href="/auth/forget" class="forgot">Forgot Password</a>
          </div>
          <button type="submit" class="btn">Submit</button>
        </form>
        <p class="or">OR</p>
        <a href="/auth/sign-up" class="targerbtn">Sign Up free</a>
      </div>
      <div class="terms"> <a href="#">Terms of use.</a> <a href="#">Privacy Policy</a> </div>
    </div>
  </div>
</div>
<a class="pageclose" href="/">&times;</a>

<%- include("../_includes/noFooter") %>