<%- include('../_includes/head') %>

<div class="dashboard-page">
    <%- include('../_includes/dashboardNavMini') %>
 
  <div class="dashboard">
            <div class="dashboard">
                        <div class="search-section">
                          <div class="container-fluid deshheader">
                              <%- include('../_includes/dashboardNav') %>
                              <div class="col-6">
                                          <div class="row d-flex">
                                                      <div class="col-md-6">
                                                        <h3 class="mrtp30">Your Plan</h3>
                                                        <ul class="col-prem">
                                                                  <li><span>20 user max<span>Admin only</span></span></li>
                                                                  <li><span>10 Mastercard cards included<span>1 physical card</span></span></li>
                                                                  <li><span>500 SEPA transfers<span>Transfers (ingoing/outgoing) or debits</span></span></li>
                                                                  <li><span>Unlimited card transactions<span>No payment fees in euro</span></span></li>
                                                                </ul>
                                                      </div>
                                                                                                           
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>
<div class="dash-footer">
  <p class="dash-copyright">
      <script>
          var d = new Date();
          var dy = d.getFullYear();
          document.write(dy);
      </script> Social Analysis. All Rights Reserved.
  </p>
</div>


<%- include('../_includes/noFooter') %>