<%- include('../_includes/head') %>
    
          <div class="row world-cloud-tabs">
            
                  
                <div id="overall"  class="container tab-pane active"><img id="wc" src="/<%=path[1]%>" alt="wordcloud"></div>
                
          </div>
        
        
        
         <div class="hashtage-cloud">
           
                <img id="rh" src="/<%=path[0]%>" alt="Related Hashtags">
                
              </div>
     
    