<%- include('../_includes/head') %>
<div class="loader hidden"><img src="/images/tenor_2.gif" style="width:30%;height:40%;">

</div>
  

<!------------------------------------------Heat Map Start------------------------------------------------>
<!--<link href="styles.css" rel="stylesheet" />-->
<!-- 
    <style>
        #chart {
            max-width: 650px;
            margin: 35px auto;
        }
    </style>
<div id="chart">

</div>

<script>

var series = [];  
var myCurrentArray= [ 'Fri Jul 19 08:31:07 +0000 2019',
  'Fri Jul 19 08:30:14 +0000 2019',
  'Fri Jul 19 08:10:29 +0000 2019',
  'Fri Jul 19 05:53:55 +0000 2019',
  'Fri Jul 19 04:46:36 +0000 2019',
  'Thu Jul 18 08:57:43 +0000 2019',
  'Thu Jul 18 04:58:37 +0000 2019',
  'Wed Jul 17 13:26:06 +0000 2019',
  'Wed Jul 17 12:37:38 +0000 2019',
  'Wed Jul 17 08:19:56 +0000 2019',
  'Wed Jul 17 06:49:07 +0000 2019',
  'Wed Jul 17 05:13:47 +0000 2019',
  'Tue Jul 16 15:38:46 +0000 2019',
  'Tue Jul 16 10:49:11 +0000 2019',
  'Tue Jul 16 10:20:25 +0000 2019',
  'Tue Jul 16 10:20:03 +0000 2019',
  'Tue Jul 16 06:42:02 +0000 2019',
  'Tue Jul 16 05:55:09 +0000 2019',
  'Tue Jul 16 05:14:53 +0000 2019',
  'Mon Jul 15 17:57:18 +0000 2019',
  'Mon Jul 15 14:56:57 +0000 2019',
  'Mon Jul 15 14:17:26 +0000 2019',
  'Mon Jul 15 11:50:18 +0000 2019',
  'Mon Jul 15 10:42:48 +0000 2019',
  'Mon Jul 15 10:40:12 +0000 2019',
  'Mon Jul 15 09:30:00 +0000 2019',
  'Mon Jul 15 08:45:59 +0000 2019',
  'Mon Jul 15 06:34:16 +0000 2019',
  'Mon Jul 15 05:22:10 +0000 2019',
  'Mon Jul 15 05:16:07 +0000 2019',
  'Sat Jul 13 16:39:43 +0000 2019',
  'Sat Jul 13 14:41:37 +0000 2019',
  'Sat Jul 13 12:55:57 +0000 2019',
  'Sat Jul 13 05:23:54 +0000 2019',
  'Fri Jul 12 16:05:10 +0000 2019',
  'Fri Jul 12 15:01:31 +0000 2019',
  'Fri Jul 12 13:41:16 +0000 2019',
  'Fri Jul 12 13:28:47 +0000 2019',
  'Fri Jul 12 11:56:09 +0000 2019',
  'Fri Jul 12 11:03:17 +0000 2019',
  'Fri Jul 12 07:31:20 +0000 2019',
  'Fri Jul 12 07:06:54 +0000 2019',
  'Fri Jul 12 04:27:51 +0000 2019',
  'Thu Jul 11 17:00:08 +0000 2019',
  'Thu Jul 11 15:54:17 +0000 2019',
  'Thu Jul 11 12:37:02 +0000 2019',
  'Thu Jul 11 06:38:52 +0000 2019',
  'Thu Jul 11 05:34:13 +0000 2019',
  'Thu Jul 11 04:30:00 +0000 2019',
  'Wed Jul 10 14:39:12 +0000 2019',
  'Wed Jul 10 04:13:20 +0000 2019',
  'Wed Jul 10 04:07:22 +0000 2019',
  'Tue Jul 09 17:39:47 +0000 2019'];



function getOptions(myCurrentArray)
{       
      var counts = {};

      counts['Mon'] = [0,0,0,0];
      counts['Tue'] = [0,0,0,0];
      counts['Wed'] = [0,0,0,0];
      counts['Thu'] = [0,0,0,0];
      counts['Fri'] = [0,0,0,0];
      counts['Sat'] = [0,0,0,0];
      counts['Sun'] = [0,0,0,0];
      var mon_time_1=0;var mon_time_2=0;var mon_time_3=0;var mon_time_4=0;
      var tue_time_1=0;var tue_time_2=0;var tue_time_3=0;var tue_time_4=0;
      var wed_time_1=0;var wed_time_2=0;var wed_time_3=0;var wed_time_4=0;
      var thu_time_1=0;var thu_time_2=0;var thu_time_3=0;var thu_time_4=0;
      var fri_time_1=0;var fri_time_2=0;var fri_time_3=0;var fri_time_4=0;
      var sat_time_1=0;var sat_time_2=0;var sat_time_3=0;var sat_time_4=0;
      var sun_time_1=0;var sun_time_2=0;var sun_time_3=0;var sun_time_4=0;
      

      for(var i=0;i< myCurrentArray.length;i++)
      {
        var d = new Date(myCurrentArray[i]);
      
          if(d.getUTCDay()==1)
          {
          var key = 'Mon';
          
          if(d.getUTCHours() >0 && d.getUTCHours()<6){
                mon_time_1 = mon_time_1+1;                    
              }
            if(d.getUTCHours() >6 && d.getUTCHours()<12){
                mon_time_2 = mon_time_2+1;             
              }
            if(d.getUTCHours() >12 && d.getUTCHours()<18){
                mon_time_3 = mon_time_3+1;                 
              }
            if(d.getUTCHours() >18 && d.getUTCHours()<24){
                mon_time_4 = mon_time_4+1;                   
            }
          
          counts[key] = [mon_time_1,mon_time_2,mon_time_3,mon_time_4];
          
          
        }
        else if(d.getUTCDay()==2)
        {
          var key = 'Tue';
        
        if(d.getUTCHours() >0 && d.getUTCHours()<6){
            tue_time_1 = tue_time_1+1;                    
              }
            if(d.getUTCHours() >6 && d.getUTCHours()<12){
                tue_time_2 = tue_time_2+1;             
              }
            if(d.getUTCHours() >12 && d.getUTCHours()<18){
                tue_time_3 = tue_time_3+1;                 
              }
            if(d.getUTCHours() >18 && d.getUTCHours()<24){
                tue_time_4 = tue_time_4+1;                   
            }
          
          counts[key] = [tue_time_1,tue_time_2,tue_time_3,tue_time_4];
        
          }
          else if(d.getUTCDay()==3)
        {
          var key = 'Wed';
          if(d.getUTCHours() >0 && d.getUTCHours()<6){
            wed_time_1 = wed_time_1+1;                    
              }
            if(d.getUTCHours() >6 && d.getUTCHours()<12){
                wed_time_2 = wed_time_2+1;             
              }
            if(d.getUTCHours() >12 && d.getUTCHours()<18){
                wed_time_3 = wed_time_3+1;                 
              }
            if(d.getUTCHours() >18 && d.getUTCHours()<24){
                wed_time_4 = wed_time_4+1;                   
            }
          
          counts[key] = [wed_time_1,wed_time_2,wed_time_3,wed_time_4];
          }
          else if(d.getUTCDay()==4)
        {
          var key = 'Thu';
          if(d.getUTCHours() >0 && d.getUTCHours()<6){
            thu_time_1 = thu_time_1+1;                    
              }
            if(d.getUTCHours() >6 && d.getUTCHours()<12){
                thu_time_2 = thu_time_2+1;             
              }
            if(d.getUTCHours() >12 && d.getUTCHours()<18){
                thu_time_3 = thu_time_3+1;                 
              }
            if(d.getUTCHours() >18 && d.getUTCHours()<24){
                thu_time_4 = thu_time_4+1;                   
            }
          
          counts[key] = [thu_time_1,thu_time_2,thu_time_3,thu_time_4];
          }
          else if(d.getUTCDay()==5)
        {
          var key = 'Fri';
          if(d.getUTCHours() >0 && d.getUTCHours()<6){
            fri_time_1 = fri_time_1+1;                    
              }
            if(d.getUTCHours() >6 && d.getUTCHours()<12){
                fri_time_2 = fri_time_2+1;             
              }
            if(d.getUTCHours() >12 && d.getUTCHours()<18){
                fri_time_3 = fri_time_3+1;                 
              }
            if(d.getUTCHours() >18 && d.getUTCHours()<24){
                fri_time_4 = fri_time_4+1;                   
            }
          
          counts[key] = [fri_time_1,fri_time_2,fri_time_3,fri_time_4];
          }
          else if(d.getUTCDay()==6)
        {
          var key = 'Sat';
          if(d.getUTCHours() >0 && d.getUTCHours()<6){
            sat_time_1 = sat_time_1+1;                    
              }
            if(d.getUTCHours() >6 && d.getUTCHours()<12){
                sat_time_2 = sat_time_2+1;             
              }
            if(d.getUTCHours() >12 && d.getUTCHours()<18){
                sat_time_3 = sat_time_3+1;                 
              }
            if(d.getUTCHours() >18 && d.getUTCHours()<24){
                sat_time_4 = sat_time_4+1;                   
            }
          
          counts[key] = [sat_time_1,sat_time_2,sat_time_3,sat_time_4];
          }
          else if(d.getUTCDay()==0)
        {
          var key = 'Sun';
          if(d.getUTCHours() >0 && d.getUTCHours()<6){
            sun_time_1 = sun_time_1+1;                    
              }
            if(d.getUTCHours() >6 && d.getUTCHours()<12){
                sun_time_2 = sun_time_2+1;             
              }
            if(d.getUTCHours() >12 && d.getUTCHours()<18){
                sun_time_3 = sun_time_3+1;                 
              }
            if(d.getUTCHours() >18 && d.getUTCHours()<24){
                sun_time_4 = sun_time_4+1;                   
            }
          
          counts[key] = [sun_time_1,sun_time_2,sun_time_3,sun_time_4];
          }
      }
   

    var obj1 =  {name:'Mon',data:[{x:'0 - 6',y:counts.Mon['0']},{x:'6 - 12',y:counts.Mon['1']},{x:'12 - 18',y:counts.Mon['2']},{x:'18 - 24',y:counts.Mon['3']}]};
    var obj2 =  {name:'Tue',data:[{x:'0 - 6',y:counts.Tue['0']},{x:'6 - 12',y:counts.Tue['1']},{x:'12 - 18',y:counts.Tue['2']},{x:'18 - 24',y:counts.Tue['3']}]};
    var obj3 =  {name:'Wed',data:[{x:'0 - 6',y:counts.Wed['0']},{x:'6 - 12',y:counts.Wed['1']},{x:'12 - 18',y:counts.Wed['2']},{x:'18 - 24',y:counts.Wed['3']}]};
    var obj4 =  {name:'Thu',data:[{x:'0 - 6',y:counts.Thu['0']},{x:'6 - 12',y:counts.Thu['1']},{x:'12 - 18',y:counts.Thu['2']},{x:'18 - 24',y:counts.Thu['3']}]};
    var obj5 =  {name:'Fri',data:[{x:'0 - 6',y:counts.Fri['0']},{x:'6 - 12',y:counts.Fri['1']},{x:'12 - 18',y:counts.Fri['2']},{x:'18 - 24',y:counts.Fri['3']}]};
    var obj6 =  {name:'Sat',data:[{x:'0 - 6',y:counts.Sat['0']},{x:'6 - 12',y:counts.Sat['1']},{x:'12 - 18',y:counts.Sat['2']},{x:'18 - 24',y:counts.Sat['3']}]};
    var obj7 =  {name:'Sun',data:[{x:'0 - 6',y:counts.Sun['0']},{x:'6 - 12',y:counts.Sun['1']},{x:'12 - 18',y:counts.Sun['2']},{x:'18 - 24',y:counts.Sun['3']}]};

        
    series.push(obj1,obj2,obj3,obj4,obj5,obj6,obj7);
        
    var options = {
        chart: {
            height: 400,
            type: 'heatmap',
        },
        dataLabels: {
            enabled: true
        },
        colors: ["#008FFB"],
        title: {
            text: 'HeatMap Chart'
        },

    }

    options.series = series;
    return options;
}


    var options = getOptions(myCurrentArray);

    var chart = new ApexCharts(
        document.querySelector("#chart"),
        options
    );

    chart.render();
</script> -->
<!------------------------------------------Heat Map Ended------------------------------------------------->

<div class="search-page">
  <!--<div>
    <button style="margin-left:1080px;padding-top:9px; background-color: #6c5cd4;border: none;
    color: white;
    text-align: center;
    font-size: 16px;"><a style="color: white;" href="/pricing">Subscription&nbsp;&nbsp;</a>
    <a style="color: white;" href="/onlyrecent">Recent Searches</a>
  </button>
  </div>-->    
<h3 class="search-heading">Hi, <%= user.name %><span>Let’s start your analysis.</span></h3>
<div class="search-boxes">
<div class="search-section">
  <div class="container-fluid">
    <form action="/analyze" id="analyze" class="search-form" method="POST">
      <div class="search">
        <input type="text" id="hashtag" name="hashtag" placeholder="Enter a #hashtag, @mention or keyword" required>
      </div>
      <div class="filter site">
          <a href="" class="opentool"><img class="filter-icon" src="/images/twitter.png" alt=""> Twitter</a>
          <div class="filter-dropdown tooldropdown">
            <!-- <a href="#"><img class="filter-icon" src="/images/facebook.png" alt=""> Facebook</a> -->
            <!-- <a href="#"><img class="filter-icon" src="/images/twitter.png" alt=""> Twitter</a> -->
            <!-- <a href="#"><img class="filter-icon" src="/images/linkedin.png" alt=""> Linkedin</a> -->
          </div>
      </div>
      <!-- <div class="filter">
          <a href="#" class="openfilter"><img class="filter-icon" src="/images/filter.png" alt=""> Filter</a>
          <div class="filter-dropdown filterdropdown">
            <a href="#">Filter 1</a>
            <a href="#">Filter 2</a>
            <a href="#">Filter 3</a>
          </div>
      </div> -->
        
      <div class="btn-search float-right">
        <button type="submit" onclick="showLoader(this);">Search</button>
      </div>
    </form>
  </div>
</div></div>
<div class="searchimg"><img src="/images/search-img.png" alt="" class="img-fluid"></div>
<div class="searchimg-bg"></div>
<a class="pageclose searchcloase" href="/auth/logout">&times;</a>
</div>

<script>
function showLoader(obj){
    $('#analyze').submit(function(e) {
  if ($('#hashtag').val().trim() == '') {
    e.preventDefault();
    alert('Please enter a hashtag');
  }
  else{
    $(".search-page").css("opacity", 0.1);
    $(".loader").removeClass('hidden').css({"display": "block"});
  }
});
}
$(document).ready(function(e) {
	
	$({ Counter1: 0 }).animate({
  Counter1: $('.countposts').text()
}, {
  duration: 2000,
  easing: 'swing',
  step: function() {
    $('.countposts').text(Math.ceil(this.Counter1));
  }
});
	$({ Counter2: 0 }).animate({
  Counter2: $('.countreach').text()
}, {
  duration: 2000,
  easing: 'swing',
  step: function() {
    $('.countreach').text(Math.ceil(this.Counter2));
  }
});
	$({ Counter3: 0 }).animate({
  Counter3: $('.countusers').text()
}, {
  duration: 2000,
  easing: 'swing',
  step: function() {
    $('.countusers').text(Math.ceil(this.Counter3));
  }
});
	
            var ctweet = $('.counttweet').text();
            //$(this).css('-webkit-transform', 'rotate(' + now + 'deg)');
            $('.counttweet').prop('Counter', 0).animate({
                Counter: ctweet
            }, {
                duration: 2000,
                easing: 'linear',
                step: function(ctweet) {
                    $('.counttweet').text(Math.round(ctweet * 100) / 100);
                }
            });
            var cretweet = $('.countretweet').text();
            //$(this).css('-webkit-transform', 'rotate(' + now + 'deg)');
            $('.countretweet').prop('Counter', 0).animate({
                Counter: cretweet
            }, {
                duration: 2000,
                easing: 'linear',
                step: function(cretweet) {
                    $('.countretweet').text(Math.round(cretweet * 100) / 100);
                }
            });
});
</script>

<%- include('../_includes/noFooter') %>