<%- include('../_includes/head') %>
<div class="loader hidden"><img src="/images/tenor_2.gif" style="width:30%;height:40%;">

</div>
  

<div class="search-page">
  <!--<div>
    <button style="margin-left:1080px;padding-top:9px; background-color: #6c5cd4;border: none;
    color: white;
    text-align: center;
    font-size: 16px;"><a style="color: white;" href="/pricing">Subscription&nbsp;&nbsp;</a>
    <a style="color: white;" href="/onlyrecent">Recent Searches</a>
  </button>
  </div>-->    
<h3 class="search-heading">Hi, <%= user.name %><span>Let’s start your analysis.</span></h3>
<div class="search-boxes">
<div class="search-section">
  <div class="container-fluid">
    <form action="/analyze" id="analyze" class="search-form" method="POST">
      <div class="search">
        <input type="text" id="hashtag" name="hashtag" placeholder="Enter a #hashtag, @mention or keyword" required>
      </div>
      <div class="filter site">
          <a class="opentool"><img class="filter-icon" src="/images/twitter.png" alt=""> Twitter</a>
          
          <div class="filter-dropdown tooldropdown">
              <a class="opentool"><img class="filter-icon" src="/images/twitter.png" alt=""> Twitter</a>
              <a class="opentool"><img class="filter-icon" src="/images/insta.png" alt=""> Instagram</a>
            <!-- <a href="#"><img class="filter-icon" src="/images/twitter.png" alt=""> Twitter</a>
            <!-- <a href="#"><img class="filter-icon" src="/images/linkedin.png" alt=""> Linkedin</a> -->
          </div>
      </div>
      <!-- <div class="filter">
          <a href="#" class="openfilter"><img class="filter-icon" src="/images/filter.png" alt=""> Filter</a>
          <div class="filter-dropdown filterdropdown">
            <a href="#">Filter 1</a>
            <a href="#">Filter 2</a>
            <a href="#">Filter 3</a>
          </div>
      </div> -->
        
      <div class="btn-search float-right">
        <button type="submit" onclick="showLoader(this);">Search</button>
      </div>
    </form>
  </div>
</div></div>
<div class="searchimg"><img src="/images/search-img.png" alt="" class="img-fluid"></div>
<div class="searchimg-bg"></div>
<a class="pageclose searchcloase" href="/dashboard">&times;</a>
</div>

<script>
function showLoader(obj){
    $('#analyze').submit(function(e) {
  if ($('#hashtag').val().trim() == '') {
    e.preventDefault();
    alert('Please enter a hashtag');
  }
  else{
    $(".search-page").css("opacity", 0.1);
    $(".loader").removeClass('hidden').css({"display": "block"});
  }
});
}
$(document).ready(function(e) {
	
	$({ Counter1: 0 }).animate({
  Counter1: $('.countposts').text()
}, {
  duration: 2000,
  easing: 'swing',
  step: function() {
    $('.countposts').text(Math.ceil(this.Counter1));
  }
});
	$({ Counter2: 0 }).animate({
  Counter2: $('.countreach').text()
}, {
  duration: 2000,
  easing: 'swing',
  step: function() {
    $('.countreach').text(Math.ceil(this.Counter2));
  }
});
	$({ Counter3: 0 }).animate({
  Counter3: $('.countusers').text()
}, {
  duration: 2000,
  easing: 'swing',
  step: function() {
    $('.countusers').text(Math.ceil(this.Counter3));
  }
});
	
            var ctweet = $('.counttweet').text();
            //$(this).css('-webkit-transform', 'rotate(' + now + 'deg)');
            $('.counttweet').prop('Counter', 0).animate({
                Counter: ctweet
            }, {
                duration: 2000,
                easing: 'linear',
                step: function(ctweet) {
                    $('.counttweet').text(Math.round(ctweet * 100) / 100);
                }
            });
            var cretweet = $('.countretweet').text();
            //$(this).css('-webkit-transform', 'rotate(' + now + 'deg)');
            $('.countretweet').prop('Counter', 0).animate({
                Counter: cretweet
            }, {
                duration: 2000,
                easing: 'linear',
                step: function(cretweet) {
                    $('.countretweet').text(Math.round(cretweet * 100) / 100);
                }
            });
});
</script>

<%- include('../_includes/noFooter') %>