<%- include('../_includes/header') %>


<section class="banner text-center">
    <div class="container">
      <h2 class="heading wow animated fadeInUp">Social Media Analytics Platform</h2>
      <p class="wow animated fadeInUp">Get instant access to online mentions, grow customer satisfaction and sales.</p>
      <a class="clickbtn btn-bg wow animated fadeInUp" href="javascript:void(0);">Watch Video</a>
      <figure><img src="images/banner-img.png" class="img-fluid" alt=""></figure>
    </div>
  </section>
  <section class="analytics">
    <div class="container">
      <h2 class="heading text-center wow animated fadeInUp">Social Media Analytics Platform</h2>
       <div class="row">
        <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6">
          <div class="analytic-types text-center wow animated fadeInLeft">
            <div class="iconframe get-social"><img src="images/get-social.png" alt="" class="img-fluid"></div>
            <h3>Get Social<br>
              Insights</h3>
            <p>Discover what people are saying online about your brand - as it unfolds in real time. We gives you
              instant access to mentions</p>
          </div>
        </div>
        <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6">
          <div class="analytic-types text-center wow animated fadeInLeft">
            <div class="iconframe reach-customer"><img src="images/reach-customer.png" alt="" class="img-fluid"></div>
            <h3>Reach<br>
              Customers. Fast.</h3>
            <p>React and engage quickly to real-time comments made about your brand. Follow-up on positive comments
              from your brand</p>
          </div>
        </div>
        <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6">
          <div class="analytic-types text-center wow animated fadeInRight">
            <div class="iconframe better"><img src="images/better.png" alt="" class="img-fluid"></div>
            <h3>Better Decisions with<br>
              Predictive Analytics</h3>
            <p>Gain clarity on future company performance and receive recommendations on how to improve outcomes.</p>
          </div>
        </div>
        <div class="col-lg-3 col-xl-3 col-md-6 col-sm-6">
          <div class="analytic-types text-center wow animated fadeInRight">
            <div class="iconframe detact"><img src="images/detact.png" alt="" class="img-fluid"></div>
            <h3>Detect Sales<br>
              Opportunities.</h3>
            <p>80% of consumers do research or ask online before making a buying decision. Brand24 gives you the
              listening tools to find these leads,</p>
          </div>
        </div>
      </div>
      <div class="analytic-sap"></div>
      <div class="row">
        <div class="col-lg-5 col-xl-5 col-md-6">
          <div class="analytic-det wow animated fadeInLeft">
            <h2 class="heading">All-in-one hashtag<br>
              analytics tool</h2>
            <p>Learn how many times a hashtag have been used on Twitter, Instagram, or Facebook.Track the volume chart
              to see how your hashtags trend.</p>
            <p><a href="#" class="clickbtntrans">Track Volume</a></p>
          </div>
        </div>
        <div class="col-lg-1 col-xl-1 hidemob"></div>
        <div class="col-lg-6 col-xl-6 col-md-6 text-right">
          <figure class="wow animated fadeInRight"><img src="images/all-in-one.png" alt="" class="img-fluid"></figure>
        </div>
      </div>
      <div class="analytic-sap"></div>
      <div class="row">
        <div class="col-lg-6 col-xl-6 col-md-6">
          <figure class="wow animated fadeInLeft"><img src="images/smr.png" alt="" class="img-fluid"></figure>
        </div>
        <div class="col-lg-1 col-xl-1 hidemob"></div>
        <div class="col-lg-5 col-xl-5 col-md-6">
          <div class="analytic-det wow animated fadeInRight">
            <h2 class="heading">Social media reach<br>
              of your hashtags</h2>
            <p>Use hashtag analytics to find out what social media reach they generate across social media platforms
              and other sources. There's the chart, too.</p>
            <p><a href="#" class="clickbtntrans">Track Reach</a></p>
          </div>
        </div>
      </div>
      <div class="analytic-sap"></div>
      <div class="row">
        <div class="col-lg-5 col-xl-5 col-md-6">
          <div class="analytic-det wow animated fadeInLeft">
            <h2 class="heading">Most active profiles using your hashtags</h2>
            <p>Hashtag analytics shows social media profiles who use your hashtags most often. How about turning them
              into your brand ambassadors?</p>
            <p><a href="#" class="clickbtntrans">DISCOVER MOST ACTIVE AUTHORS</a></p>
          </div>
        </div>
        <div class="col-lg-1 col-xl-1 hidemob"></div>
        <div class="col-lg-6 col-xl-6 col-md-6 text-right">
          <figure class="wow animated fadeInRight"><img src="images/map.png" alt="" class="img-fluid"></figure>
        </div>
      </div>
      <div class="analytic-sap"></div>
      <div class="row">
        <div class="col-lg-6 col-xl-6 col-md-6">
          <figure class="wow animated fadeInLeft"><img src="images/all-in-one.png" alt="" class="img-fluid"></figure>
        </div>
        <div class="col-lg-1 col-xl-1 hidemob"></div>
        <div class="col-lg-5 col-xl-5 col-md-6">
          <div class="analytic-det wow animated fadeInRight">
            <h2 class="heading">Daily / weekly /<br>
              monthly reports</h2>
            <p>Stay up to date with the performance of your hashtags on Twitter, Instagram, Facebook, or Google+ thanks
              to email reports delivered directly to your inbox.</p>
            <p><a href="#" class="clickbtntrans">Get Hashtag Reports</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="analysis text-center">
    <div class="container">
      <h2 class="heading wow animated fadeInUp">Over 100,000 companies use Social Analysis to monitor the web.</h2>
      <p class="wow animated fadeInUp">Whether you're a one-person business, startup or Fortune 500 company, <span>Social
          Analysis helps you discover your digital footprint worldwide.</span></p>
      <a class="clickbtn btn-bg wow animated fadeInUp" href="javascript:void(0);">Watch Video</a>
      <div class="playicon wow animated fadeInUp"><img src="images/play-icon.png" class="img-fluid" alt="">
        DISCOVER SOCIAL MEDIA MONITORING</div>
    </div>
  </section>
  <section class="app-section text-center">
    <div class="container">
      <h2 class="heading wow animated fadeInUp">Social Media Analytics Platform</h2>
      <p class="wow animated fadeInUp">Get instant access to online mentions, grow customer satisfaction and sales.</p>
      <p class="apps-store wow animated fadeInUp"><a href="#"><img src="images/app-store.jpg" class="img-fluid"
            alt=""></a> <a href="#"><img src="images/play-store.jpg" class="img-fluid" alt=""></a></p>
      <figure><img src="images/social-media-share.jpg" class="img-fluid" alt=""></figure>
    </div>
  </section>
  
<%- include('../_includes/footer') %>
